body {
  font-family: 'Futura Book';
  font-size: 14px; }

.button {
  padding: 13px 20px;
  border-radius: 2px;
  border: none;
  text-transform: uppercase; }
  .button--primary {
    background-color: #E3B873;
    color: #fff; }
  .button--outline {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff; }
