.container
  width: 85%
  max-width: 1256px
  margin: auto
  position: relative
  z-index: 3
.row 
  display: flex
  aligne-items: flex-start
  justify-content: space-between
  &__margin
    margin-top: 25rem
.col
  &-30
    width: 30%
  &-33
    flex-basis: 33%
  &-50
    width: 50%
  &-44
    width: 44%
  &-56
    width: 56%
  &-70
    width: 70%
