@media screen and ( max-width: 1300px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 1030px )
  .clients
    &__info
      top: auto
      bottom: 0
    .clients__row
      flex-wrap: wrap
      justify-content: center 
      margin-bottom: 3rem
  .clients__col-33
    margin: 0
    width: 100%
  .clients__col-33:nth-child(1)
    margin: 0
  .clients__col-33:nth-child(3)
    margin: 0
@media screen and ( max-width: 992px )
  .nav
    display: none
    &__item
    margin-right: 1rem
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .team__col-33:nth-child(3)
    margin: 0
  .team__col-33:nth-child(1)
    margin: 0
  .clients
    &__col-33
      flex-basis: 100%
      margin-bottom: 3rem
      &:nth-child(1)
        margin-left: auto
      &:nth-child(2)
        margin-right: auto
@media screen and ( max-width: 760px )
  .row
    align-items: center
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
  .card__none
    display: none
@media screen and ( max-width: 772px )
  .visible
    display: none 
  .hidden
    display: block
  .col-50
    width: 100%
  .swiper
    &-button
      &-prev
        left: 20%
      &-next
        left: 68% !important 
    &-pagination
      right: 16%
    &-slide
      padding: 1px
      padding-bottom: 0
      flex-basis: 100%
      &__image
        margin-top: 1rem
        max-width: 100%
        padding: 0
      &__heading
        font-size: 1.170rem
      &_value
        font-size: 1.15rem
        line-height: 130%
    &-container
      padding: 0
    &__block
      margin-right: 3rem
      margin-top: -0.5rem
      margin-bottom: 2rem
      &__wrap
        margin-bottom: 0
        &:last-child
          margin-bottom: 2.6rem
  .section
    &--light
      background-image: none
    &__mobile
      display: block
      margin-top: 3rem
    &__desctop
      display: none
    &--dark
      background: $dark
    .col-56
      margin-top: 0
      width: 100%
    .col-44
      width: 100%
    .row
      display: flex
      flex-direction: column
    &-title
      text-align: center
      &--word
        text-align: center
        display: block
        &::after
          display: none
      &__heading
        text-align: center
        font-size: 1.71rem
      &__text
        text-align: center
        margin: 0 auto
        font-size: 1.2rem
        max-width: 90%
  // Секция Контроль
  .control
    padding-top: 30.8rem
    background-color: $dark
    color: $light
    &__video
      margin-bottom: 2.7rem
      max-width: 45.28rem
      min-height: 30rem
      background: $dark url('../img/control/video.jpg') center no-repeat
    &__form
      flex-direction: column
      #policyСheckbox-error
        left: 0
    &__input
      color: $light
      border-color: rgba($light, 0.5)
    &__button
      order: 4
      margin-bottom: -7rem
    &__section
      &-title
        margin-bottom: 3.2rem
    &__text
      font-size: 1.15rem
      line-height: 2rem
      margin-bottom: 2.4rem
      &::before
        margin-bottom: 1.4rem   
    &__input-group
      margin-bottom: 5.2rem
      &:nth-child(2)
        margin-bottom: 0
    &__label
      color: $secondary
      margin: 0
    &__policy
      margin-bottom: 4.8rem
      &-label
        color: $light
        width: 100%
        justify-content: flex-start
        font-size: 1.34rem
    &__input
      background-color: $dark
      font-size: 1.45rem
      &::placeholder
        color: $light
    &__button
      font-size: 1.25rem
  .video__play
    max-width: 10rem
  //секция types
  .types
    margin-top: 5rem
    .card
      min-width: 30rem
      margin-bottom: 5rem
  .card
    &__text
      margin-top: -15.5rem
  .col-33
    width: 100%
    flex-basis: 100%
    //footer
  .footer
    background: $dark
    &__wrap
      background-color: $dark
      margin-top: -3rem
    &__menu
      display: none
    &__contacts
      order: 2
    &__map
      order: 11
    &__wrap__block
      display: flex
      flex-direction: column-reverse
    &__map
      width: 100%
      max-width: 40rem
      min-height: 22rem
      margin-bottom: 2rem
    &__title
      &__contacts
        font-size: 1.5rem
        max-width: 26.28rem
  .clients__row
    justify-content: center
  .projects
    padding-bottom: 0
    .row
      display: flex
      flex-direction: column-reverse
  .clients
    display: none
  .team
      &__row
        width: 100%
        flex-direction: column
        justify-content: center
      &__col-33
        width: 100%
        flex-direction: column
      &__text
        margin-bottom: 0
@media screen and ( max-width: 570px )
  .container
    width: auto
    max-width: 340px
    margin: auto
  .menu
    &__logo
      font-size: 1rem
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      width: 100%
      man-width: 24.14rem
      margin: 0 auto
      font-size: 1.5rem
    &__title
      font-size: 1.9rem
    &__text
      margin-bottom: 2.28rem
      font-size: 1.52rem
    &__button
      margin: auto
      display: block
      width: 100%
      max-width: 59.14rem
      margin-top: 3.1rem
      font-size: 1.05rem
      padding: 1.5rem 0
  .button--application
    margin-top: 2.3rem
  .types__section-title
    margin-bottom: 3rem
  .card__text
    margin-top: -11.5rem
  .card__item 
    line-height: 1.85rem
  .design__row
    margin-top: 3rem
  .design--image
    margin-top: 1.5rem
  .card__priceteg 
    margin-top: 3rem
  .design__row
    margin-top: 1rem
  .design__card
     margin-top: -2rem
  .card__priceteg
    width: 100%
    max-width: 16.13rem
    font-size: 1.2rem
    bottom: -1rem 
  .swiper-slide__image
    max-height: 17rem
  .swiper-button-prev
    z-index: 99
  // модальное окно
  .modal
    &__dialog
      min-width: 21.5rem
      max-height: 40.5rem
    &__title
      font-size: 1.2rem
    &__policy
      &__label
        font-size: 1.14rem
    &__button
      align-self: auto
  //секция контроль
  .control
    &__video
      max-width: 28.28rem
      min-height: 17rem
      margin-left: auto
      margin-right: auto
      background: $dark url('../img/control/video-2.png') center no-repeat
    &__section
      &-title
        &__heading
          font-family: 'Yeseva One', cursive
          font-size: 1.8rem
          font-weight: normal
          margin-top: 0.5rem
  .video__play
    max-width: 7rem
  .clients
    display: none 
  .footer
    padding-top: 6.75rem
    &__map
      max-height: 13rem
    &__title
      font-size: 1.65rem
      margin-bottom: 4.9rem
    &__wrap
      background-color: $dark
      padding: 0
      &::before
        display: none
    &__input-group
      flex-basis: 100%
      margin-bottom: 6.1rem
      &:nth-child(3)
        margin-bottom: 0.5rem
    &__policy
      margin-bottom: 5.5rem 
      #policyСheckbox-error
        left: 0
    &__button
      flex-basis: 100%
      margin: auto
      padding: 1.6rem 4.785rem
      font-size: 1.25rem
    &__input
      font-size: 1.5rem
    &__icon
      &__massage
        width: 3.5rem
        height: 3.5rem
      &__phone
        width: 3.5rem
        height: 3.5rem
  .policy__label--center
    justify-content: flex-start
  .policy__label
    // font-size: 1.32rem
    line-height: 5px  
  .types
    margin-top: 0
    .col-33
      margin: 0

    .card
      min-width: 100%
      margin-top: 0
      &__text
        margin-top: -11.5rem
        margin-left: 0
  .section
    &-title
      &__heading
        font-size: 1.8rem

  .control
    &__input
      color: $light
      border-color: rgba($light, 0.5)
      &::placeholder
        font-size: 1.5rem
      &__group
        margin-bottom: 5rem
    &__policy
      margin-top: 0.5rem
      margin-bottom: 5rem
    &__label
      font-size: 1.2rem
  .design
    .card
      &__text
        max-width: 22.5rem
        margin-top: -11.8rem
      &__title
        font-size: 1.3rem
      &__list
        margin-left: 1.8rem
      &__priceteg
        font-weight: 300
        padding: 1.214rem
        text-align: center
          
    &--image
      margin-top: 2.3rem
    &__card
      margin-bottom: 5.7rem
  
  .section--light
    &::before
      display: none
    &.section--dark
      background: $dark
      background-size: cover
      background-repeat: no-repeat
      color: $light
      position: relative
  .team
    .section
      &-title
        margin-bottom: 6.8rem
        &__heading
          margin-top: 0
          margin-bottom: 1rem
    &__card
      max-width: 100%
      flex-basis: 100%
    .card
      &__icon
        left: -2.6rem
        top: -2.5rem
        width: 5.7rem
        height: 5.7rem
  .team__text
    display: none
  .footer__wrap
    background-image: none


@media screen and ( min-width: 760px )

  .row
    flex-direction: row
    justify-content: space-between
  .card
    flex-basis: 32%
  .design
    background-color: $light
    &__section-title
      color: $dark
      font-size: 6rem
  .section-title__description
      max-width: 53rem
      font-size: 1.40rem
      margin-top: 1rem
  .section-title__heading
    font-size: 1.4rem

@media screen and ( max-height: 550px )
  .hero__scroll-down
    display: none
  //для modal
  .modal__dialog
    overflow-y: scroll
    height: 352px

