@media screen and ( max-width: 1300px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .nav
    display: none
    &__item
    margin-right: 1rem
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and ( max-width: 760px )
  .row
    align-items: center
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0

  .card__none
    display: none
@media screen and ( max-width: 772px )
  .visible
    display: none 
  .hidden
    display: block
  .col-50
    width: 100%
  .swiper
    &-button
      &-prev
        left: 20%
      &-next
        left: 68% !important 
    &-pagination
      right: 16%
    &-slide
      padding: 1px
      padding-bottom: 0
      flex-basis: 100%
      &__image
        margin-top: 1rem
        max-width: 100%
        padding: 0
      &__heading
        font-size: 1.170rem
      &_value
        font-size: 1.15rem
        line-height: 130%
    &-container
    padding: 0
    &__block
      margin-right: 3rem
      margin-top: -0.5rem
      margin-bottom: 2rem
      &__wrap
        margin-bottom: 0
        &:last-child
          margin-bottom: 2.6rem
  
  .section
    padding: 1.5rem
    .col-56
      margin-top: 0
      width: 100%
    .col-44
      width: 100%
    .row
      display: flex
      flex-direction: column-reverse
    &-title
      text-align: center
      &--word
        text-align: center
        display: block
        &::after
          display: none
      &__heading
        text-align: center
        font-size: 1.71rem
      &__text
        text-align: center
        margin: 0 auto
        font-size: 1.2rem
        max-width: 90%
@media screen and ( max-width: 570px )
  .container
    width: auto
    max-width: 340px
    margin: auto
  .menu
    &__logo
      font-size: 1rem
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      width: 100%
      man-width: 24.14rem
      margin: 0 auto
      font-size: 1.5rem
    &__title
      font-size: 1.9rem
    &__text
      margin-bottom: 2.28rem
      font-size: 1.52rem
    &__button
      margin: auto
      display: block
      width: 100%
      max-width: 59.14rem
      margin-top: 3.1rem
      font-size: 1.05rem
      padding: 1.5rem 0
  .button--application
    margin-top: 2.3rem
  .types__section-title
    margin-bottom: 3rem
  .card__text
    margin-top: -11.5rem
  .card__item 
    line-height: 1.85rem
  .design__row
    margin-top: 3rem
  .design--image
    margin-top: 1.5rem
  .card__priceteg 
    margin-top: 3rem
  .design__row
    margin-top: 1rem
  .design__card
     margin-top: -2rem
  .card__priceteg
    width: 100%
    max-width: 16.13rem
    font-size: 1.2rem
    bottom: -1rem 
  .swiper-slide__image
    max-height: 17rem
  // для modal
  .modal
    &__dialog
      min-width: 21.5rem
      max-height: 36.5rem
    &__title
      font-size: 1.2rem

@media screen and ( min-width: 760px )
  .row
    flex-direction: row
    justify-content: space-between
  .card
    flex-basis: 32%
  .design
    background-color: $light
    &__section-title
      color: $dark
      font-size: 6rem
  .section-title__description
      max-width: 53rem
      font-size: 1.40rem
      margin-top: 1rem
  .section-title__heading
    font-size: 1.4rem
@media screen and ( max-height: 550px )
  .hero__scroll-down
    display: none
  //для modal
  .modal__dialog
    overflow-y: scroll
    height: 352px