body
  font-family: sans-serif
  font-size: 14px
.button
  padding: 13px 20px
  border-radius: 2px
  border: none
  text-transform: uppercase
  &--primary
    background-color: $primary
    color: $lite