.clients 
  color: $dark
  min-height: 100vh
  &__section-title
    margin-bottom: 5rem
  &__heading
    display: flex
    justify-content: flex-start
    img 
      max-height: 5.4rem
      flex: 0 0 auto
  &__title
    max-width: 14rem
    margin-left: 1.70rem
    font-size: 1.5rem
    margin-top: 1.1rem
  &__text
    font-family: FuturaBook
    font-size: 1.07rem
    font-weight: normal
    color: #959595
    margin-top: 0.6rem
    max-width: 23.14rem
    line-height: 183%
    margin-bottom: 3rem
  .section-title__description
    max-width: 25rem
    margin-top: 1.70rem
.clients__info
  position: absolute
  left: 0
  top: 27rem
  display: flex
.info__square
  height: 3.8rem
  width: 9.5rem
  background-color: $primary
  color: $light
  display: flex
  align-items: center
  padding-left: 1.1rem
  &__img
    margin-right: 0.9rem
    span
      color: $light
      font-weight: 300
      font-size: 2rem
  &__text
    font-family: 'Yeseva One', cursive
.info__days
  height: 3.8rem
  width: 11rem
  background-color: $primary
  color: $light
  display: flex
  border-left: 1px solid $light
  &__img
    margin-right: 0.9rem
    span
      color: $light
      font-weight: 300
      font-size: 2rem
  &__text
    font-family: 'Yeseva One', cursive
