.design
  padding-bottom: 30rem
  background-color: $dark
  &__section-title
    color: $light
    margin-bottom: 2.78rem
  &__card
    margin-bottom: 5.7rem
    flex-basis: 32%
.card
  &__image
    display: block
    margin: auto
    width: 100%
  &__text
    position: relative
    max-width: 23.6rem
    margin-top: -10rem
    max-width: 23.6rem
    padding:  1.79rem 2.14rem
    background-color: #fff
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
  &__title
    font-family: 'Yeseva One', cursive
    font-size: 1.29rem
    margin-top: 0
    margin-bottom: 0.7rem
  &__list
    margin: 0 
    padding: 0 0 0 0 1rem
    font-size: 1.07rem
    line-height: 1.79rem
    margin-bottom: 2.5rem
    color: $secondary
  &__priceteg
    position: absolute
    left: 0
    bottom: - 1.79rem
    font-size: 1.29rem
    font-family: 'Yeseva One', cursive
    text-transform: uppercase
    background-color: $primary
    color: $light
    padding: 1.214rem 2.6rem
  &__list
    margin-right: 4rem
.row
  display: flex
  flex-direction: column
.design__row
  margin-top: 3.5rem
.section-title__heading
  font-size: 1.8rem
.section-title__description
  font-size: 1.2rem
  max-width: 25rem
  line-height: 136%
  margin-top: 1.8rem